$darkTheme-background:#212121;
$darkTheme-main-background: #484848;
$darkTheme-header-color: lightgray;
$darkTheme-color: #ffffff;
$darkTheme-border: 5px solid #000000;

$grayTheme-background: #757575;
$grayTheme-main-background: #a4a4a4;
$grayTheme-header-color: #ffffff;
$grayTheme-color: #ffffff;
$grayTheme-border: 5px solid #494949;


